/* FONTS & TYPO */

body {
	line-height: 1.6;
	font-size: 80%;
	color: #777;
	color: rgba (0,0,0,0.8);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;	
	font-family: Arial, 'Lucia Grande', Verdana, Sans-Serif;
}

a {
	text-decoration: none;
	color: #444;
		 -o-transition-property: color;
	-webkit-transition-property: color;
	   -moz-transition-property: color;
			transition property: color;
		 -o-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
			transition-duration: 0.4s;
}
a:hover,
a:focus {
	color: #000;
}	
h1, h2, h3, h4 {
	color: #333;
	font-family: 'Trebuchet MS', Arial, 'Lucia Grande', Verdana, Sans-Serif;
	font-weight: bold;
	font-style: italic;
}
h1 {
	color: #333;
	font-size: 1.8em;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
h2 {
	width: auto;
}
h3 {
	font-size: 1.4em;
}
p {
	color: #777;
	font-size: 13px;
	padding: 10px 0;
	margin: 0;
}
img {
	border: none;
}
textarea {
	font-family: 'Lucia Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.9em;
}

#head > nav {
	color: #888;
	font-size: 0.9em;
}

article > .body > p {
	text-align: justify;
	line-height: 1.5em;
}
article img {
	height: auto;
	max-width: 100%;
}
#sidebar {
	font-size: 0.95em;
	line-height: 1.4em;
}
#footer p {
	font-size: 0.9em;
	color: #444;
}
#footer p > a > img {
	display: inline-block;
	margin: 0 0 -4px 0;
}

/* END FONTS & TYPO */


/* STRUCTURE */

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.1);
} 

#wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	width: 975px;
	margin: 0 auto 50px;
	padding: 0 0 9em;
}
#head {
	display: block;
	/* background: url('/user/themes/minimalistic/img/wbg.png') no-repeat center bottom; */
	padding: 50px 15px 0;
}
#logo {
	float: left;
	height: 65px;
}
.hbg {
	background: url("/user/themes/minimalistic/img/wbg.png") no-repeat scroll center top transparent;
	height: 50px;
	color: transparent;
	font-size: 0;
}

#head > nav {
	color: #777;
	font-size: 0.9em;
	float: left;
	margin: 25px 0 0 130px;
	width: 300px;
}
#head > nav > ul li {
	text-transform: uppercase;
	display: inline;
	margin: 0 15px;
}
#head > nav > ul li:first-child {
	margin-left: 0;
}
#head > nav > ul li:last-child {
	margin-right: 0;
}
#head > nav {
	width: 300px;
}
#head > nav > ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#head > nav > ul li {
	display: inline;
}
#search {
	float: right;
	margin: 20px 0;
}
#searchform {
	height: 25px;
}
input {
	margin: 0;
	padding: 0;
}
#searchform input[type="text"] {
	background: none;
	border: 1px solid #f3f3f3;
	font-size: 12px;
	float: left;
	margin: 0 5px 0 0;
	padding: 2px;
	text-align: right;
	color: #111;
	width: 140px;
}

#content {
	width: 570px;
	float: right;
	margin: 0 15px 0 0;
}
article + article {
	margin-top: 20px;
}
article > * > time {
	font-size: 14px;
	color: #bbb;
	text-transform: uppercase;
}
span.more {
	display: block;
	margin: 10px 0 0;
}
span.entry-tags {
	color: #999;
}

article > footer nav {
	margin: 0 0 20px;
}

.reply {
	background: url("/user/themes/minimalistic/img/wbg-s.png") no-repeat scroll center top transparent;
	margin-top: 30px;
	padding-top: 10px;
}
.responses {
	background: url("/user/themes/minimalistic/img/wbg-s.png") no-repeat scroll center top transparent;
	margin-top: 25px;
	padding-top: 10px;
}
.comment {
	border: 1px solid #eee;
	padding: 10px 10px 5px;
}
.comment + .comment {
	margin-top: 10px;
}
.comment-meta {
	display: block;
	border: 1px solid #e7e7e7;
	margin: 0 0 5px;
	padding: 5px;
	color: #999;
	line-height: 1em;
}
.comment-autor {
	display: block;
	font-size: 1.2em;
	line-height: 1em;
}
.comment-time {
	display:block;
	font-size: 10px;
}

#comment-public > div {
	display: inline-block;
	padding: 0 0 10px;
	width: 98%;
	clear: both;
}
#comment-public > div > input {
	float: left;
	width: 170px;
	margin: 0 8px 5px 0;
	padding: 2px;
}
#comment-public > div > label {
	display: inline-block;
	font-size: 0.9em;
	line-height: 2.1em;
	color: #777;
}
#comment-public > #cf_content > label {
	display: none;
}
#comment-public > div > textarea {
	width: 100%;
	padding: 2px;
}
#comment-public > #cf_submit > input {
	float: right;
	margin: 5px -7px 0 0;
}

.nomatch {
	margin: 0;
	padding: 0;
	text-align: center;
}

#sidebar {
	width: 320px;
	float: left;
	margin: 0 0 0 15px;
}
#sidebar > section {
	margin: 15px 0 10px;
	padding: 0 0 15px;
	background: url('/user/themes/minimalistic/img/wbg-s.png') no-repeat center bottom;
}
#sidebar > section:first-child {
	margin-top: 0;
}
#sidebar > section.tagcloud {
	margin: 0;
	padding: 0;
}
#sidebar ul {
	list-style: none outside none;
	margin: 15px 0 0 10px;
	padding: 0;
}
#sidebar h3 {
	margin: 0 0 10px;
}
.sabout {
	display: none;
}
.recentposts > ul > li {
	margin: 0 0 8px;
}
#subscribe {
	margin: 0 0 -10px;
}

#footer {
	display: block;
	position: relative;
	margin: -7.5em auto 0;
	padding: 20px 0 0;
	width: 975px;
	height: 150px;
	clear: both;
}
.backtotop {
	color: #444;
	font-size: 12px;
	line-height: 1.5em;
	clear: both;
	background: url('/user/themes/minimalistic/img/wbg.png') no-repeat center bottom;
	text-transform: uppercase;
	text-align: right;
	height: 35px;
	margin: 0 0 20px 0;
}
.backtotop a {
	padding: 3px;
}
.backtotop img {
	margin: 0 3px -2px;
}
#up img {
	margin: 0 0 -5px;
}
.footy {
	text-align: center;
	display: inline-block;
	/* float: left; */
	width: 100%; /* for three-column-layout chose 310 px */
	height: 100px;
}
.footy + .footy {
	margin-left: 15px;
}
.footy:first-child {
	margin-left: 15px;
}
.footy:last-child {
	margin-right: 15px;
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}


/* END STRUCTURE */


@media screen and (max-width: 990px) {
	#wrapper {
		width: 100%;
		margin: 0;
	}
	#head {
		text-align: center;
		margin: 30px 20px;
		padding: 1px 0 20px 0;
	}
	#head > nav {
		float: none;
		width: auto;
		margin: 25px 0 0;
	}
	#head > nav > ul li {
		margin: 0 5.2%;
	}
	#head > nav > ul {
		margin: 0 -15px;
		display: inline-block;
		width: 45%;
	}
	#search {
		float: right;
	}
	#content {
		width: 58%;
	}
	#sidebar {
		width: 35%;
	}
	#footer {
		width: 100%;
	}
}

@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {
	#wrapper {
		width: 100%;
		margin: 0;
		text-align: center;
	}
	#logo {
		float: none;
		clear: both;
	}
	#head > nav {
		float: none;
		clear: both;
		margin: 15px 0 0;
		padding: 0;
	}
	#head > nav > ul {
		margin: 0;
		width: 100%;
	}
	#head > nav > ul li {
		margin: 15px;
	}
	#search {
		display: none;
	}
	#content {
		float: none;
		width: 92%;
		margin: 0 4%;
	}
	#content > article {
		text-align: left;
	}
	#sidebar {
		display: none;
	}
	#footer {
		width: 100%;
	}
	
}



