/* =======================
 *	HTML5 ✰ Boilerplate
 * =======================
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize =======
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */


html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::selection {
	background: #a8d1ff; text-shadow: none; /* Safari */
	}
::-moz-selection {
	background: #a8d1ff; text-shadow: none; /* Firefox */
}

/* j.mp/webkit-tap-highlight-color
a:link { -webkit-tap-highlight-color: #123 } */

/* =============================================================================
   Links
   ========================================================================== */

a { color: #000; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0 auto; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; /*-webkit-appearance: button;*/ *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   ========================================================================== */








/* FONTS & TYPO */

body {
	line-height: 1.6;
	font-size: 80%;
	color: #333;
	color: rgba (0,0,0,0.8);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;	
	font-family: Arial, 'Lucia Grande', Verdana, Sans-Serif;
}

a {
	text-decoration: none;
	color: #000;
		 -o-transition-property: color;
	-webkit-transition-property: color;
	   -moz-transition-property: color;
			transition property: color;
		 -o-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
			transition-duration: 0.4s;
}
a:hover,
a:focus {
	color: #000;
}	
h1, h2, h3, h4 {
	color: #333;
	font-weight: normal;
	font-family: Georgia;
}
h1 {
	color: #333;
	font-size: 1.9em;
	line-height: 1em;
	margin: 0;
	padding: 0;
}
h2 {
	width: auto;
}
h3 {
	font-size: 1.4em;
	margin: 0;
}

iframe { border: 0; }

.sidenote {
	font-size: 0.7em;
	display: inline-block;
	padding-left: 10px;
	text-decoration: underline;
}
p {
	color: #333;
	padding: 10px 0;
	margin: 0;
}
img {
	border: none;
}
textarea {
	x-font-family: 'Lucia Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.9em;
}

#head p {
	font-size: 13px!important;
}

#head > nav {
	color: #888;
	font-size: 0.9em;
}

article > .body > p {
	color: #222;
	text-align: justify;
	line-height: 1.5em;
	font-size: 15px;
}
article img {
	height: auto;
	max-width: 100%;
}
article.body {
	color: #444;
}
#sidebar {
	font-size: 0.95em;
	line-height: 1.4em;
}
#footer p {
	font-size: 0.9em;
	color: #444;
}
#footer p > a > img {
	display: inline-block;
	margin: 0 0 -4px 0;
}
.list-1, .list-2 {
	font-family: Georgia;
	font-size: 14px!important;
}
.list-1 ü, .list-2 p {
	font-size: inherit;
}
.initstitle {
	padding-bottom: 5px;
	margin-bottom:5px;
	font-size: 18px;
}

.message {
	text-align: center;
	font-size: 13px;
}

.plugticle .body a {
	color: #000!important;
	text-decoration: underline!important;
}
#profile .primary a {
	color: #000!important;
	text-decoration: underline!important;
}
#profile .primary p {
	color: #000;
}

/* END FONTS & TYPO */


/* STRUCTURE */

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.1);
	background: url("http://one-europe.info/user/themes/euro/img/bg.png") repeat scroll 0 0;
} 

#wrapper {
	position: relative;
	height: auto !important;
	width: 950px;
	margin: 0 auto 50px;
	padding: 0 20px 20px;
	background: white;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0, .2);
	   -moz-box-shadow: 0 3px 7px rgba(0,0,0, .2);
	      o-box-shadow: 0 3px 7px rgba(0,0,0, .2);
	        box-shadow: 0 3px 7px rgba(0,0,0, .2);
}

#wrapper::before, #wrapper::after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 8px;
	bottom: 10px;
	width: 70%;
	max-width: 500px;
	max-height: 100px;
	height: 55%;
	-webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.6);
	   -moz-box-shadow: 0 8px 16px rgba(0,0,0,0.6);
			box-shadow: 0 8px 16px rgba(0,0,0,0.6);
	-webkit-transform: skew(-9deg) rotate(-2deg);
	   -moz-transform: skew(-9deg) rotate(-2deg);
		-ms-transform: skew(-9deg) rotate(-2deg);
		 -o-transform: skew(-9deg) rotate(-2deg);
			transform: skew(-9deg) rotate(-2deg);
}
#wrapper::after {
	left: auto;
	right: 8px;
	-webkit-transform: skew(9deg) rotate(2deg);
	   -moz-transform: skew(9deg) rotate(2deg);
		-ms-transform: skew(9deg) rotate(2deg);
		 -o-transform: skew(9deg) rotate(2deg);
			transform: skew(9deg) rotate(2deg);
}
#head {
	display: block;
	padding: 0;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #ccc;
}
#logo {
	float: left;
	height: 109px;
	x-margin-left: -10px;
	width: 326px;
	margin: 15px 0 26px 5px;
	background: url('../img/logo-normal.png') -10px 0 no-repeat;
}
#headerbadge {
	float: left; 
	display: block; 
	margin: 45px 0 0 -120px
}

/*.hbg {
	background: url("/user/themes/minimalistic/img/wbg.png") no-repeat scroll center top transparent;
	height: 50px;
	color: transparent;
	font-size: 0;
}*/

#main {
	/*lalala*/
}

.btn { padding: 3px 10px; }

/** ## SOCIAL BUTTONS ## **/

.sm-buttons				{ float: right; padding-top: 19px; }
.sm-buttons a			{ width: 25px; height: 25px; float: left; margin-left: 5px; background: url('../img/social/social-icons-25x25.png') -10px 0 no-repeat; }
.sm-buttons .icon-fb	{ background-position: 0 0; }
.sm-buttons .icon-tw	{ background-position: -25px 0; }
.sm-buttons .icon-gp	{ background-position: -50px 0; }
.sm-buttons .icon-pi	{ background-position: -75px 0; }
.sm-buttons .icon-st	{ background-position: -100px 0; }
.sm-buttons .icon-in	{ background-position: -125px 0; }
.sm-buttons .icon-rs	{ background-position: -150px 0; }
.sm-buttons .icon-vk	{ background-position: -175px 0; }


/** ## NAVIGATION ## **/

#head > nav {
	font-size: 1.2em;
	color: #777;
	float: right;
	text-align: right;
	height: 39px;
	margin: 47px 0 0;
	border: 1px solid #EEF1F5;
}
#head > nav > ul {
	display: inline-block;
	list-style: none outside none;
	margin: -2px;
	padding: 0 10px 0 0;
	width: 586px;
}
#head > nav > ul > li {
	position: relative;
	float: left;
	display: inline-block;
	padding: 1px;
	height: 40px;
	text-align: center;
	border-bottom: none;
}
.sfHover {
	z-index: 6;
}
.sfHover > a {
	background: #fff;
}

#head > nav > ul > li.menu_1 {
	width: 80px;
}
#head > nav > ul > li.menu_1 > a {
	width: 74px; /* menu_1 extra size */
}
#head > nav > ul > li.menu_1:hover, #head > nav > ul > li.menu_4:hover {
	border: 1px solid #ccc;
	padding: 0;
}
#head > nav > ul > li.menu_2 {
	width: 110px;
	margin-left: -5px;
}
#head > nav > ul > li.menu_2 > a {
	width: 104px;
}
#head > nav > ul > li.menu_3 {
	width: 120px;
	margin-left: -5px;
}
#head > nav > ul > li.menu_3 > a {
	width: 120px;
}
#head > nav > ul > li.menu_4 {
	width: 65px;
}
#head > nav > ul > li.menu_4 > a {
	width: 59px;
}
.menu_4 p {
	margin-bottom: 5px;
}
#head > nav > ul > li.menu_5 {
	width: auto;
	margin-left: -15px;
	padding-top: 10px;
	float: right;
}
#head > nav > ul > li > a {
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
	font-family: Georgia;
	font-size: 16px;
	
	display: block;
	padding: 8px 3px;
	width: 79px;
	
	position: absolute;
	z-index: 6;
}
#head > nav > ul > li > a:hover {
	background: #fff;
}
#head > nav > ul > li.menu_3 > a:hover, #head > nav > ul > li.menu_2 > a:hover {
	background: transparent;
}

#head > nav > ul > li > ul {
	text-align: left;
	
	display: none;
	margin: 0;
	padding: 10px;
	width: 760px;
	height: auto;
	background: #fff;
	
	position: absolute;
	top: 40px;
	z-index: 5;
	
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0, .15);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0, .15);
		  o-box-shadow: 0 1px 5px rgba(0,0,0, .15);
			box-shadow: 0 1px 5px rgba(0,0,0, .15);
	border-radius: 2px;
}      
#head > nav > ul > li.menu_1 > ul {
	left: -300px;                
}                                
#head > nav > ul > li.menu_2 > ul {
	left: -377px;                
}                               
#head > nav > ul > li.menu_4 > ul {
	left: -571px;
}
#head nav li:hover > ul {
	display: block;
}
#head > nav > ul > li > ul > li {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 0 5px 0 0;
	margin: 0 -1px 0 0;
}
#head > nav > ul > li > ul > li:first-child {
	border-left: none;
}
#head > nav > ul > li > ul > li:last-child {
	border-right: none;
	padding-right: 0;
}

/** Menu_1 **/

li.menu_1 > p {
	padding-bottom: 0;
}
li.menu_1 > ul > li {
	float: left;
	display: inline-block;
	list-style-type: none outside none;
	height: auto;	
	margin-left: 5px;
}
li.menu_1 li div {
	padding: 3px 7px 7px;
}
li.menu_1 li div:first-child {
	margin: 0;
}
li.menu_1 li.col1 {
	width: 155px;
	margin: 0;
}
li.menu_1 li.col2 {
	width: 300px;
	float: left;
}
li.menu_1 > ul > li.col3 {
	width: 294px;
	float: left;
	border-right: 1px solid #ccc;
}
li.menu_1 > ul > li.col4 {
	width: 123px;
	float: right;
	border-left: 1px solid #ccc;
	padding-left: 10px!important;
}
span.forum {
	display: block;
	font-size: 35px;
	letter-spacing: -2.5px;
	margin: 55px 0 55px 10px;
}
li.menu_1 > ul li div > a {
	font-size: 12px;
}

ul.cats {
	list-style: none outside none;
	padding: 0;
}
ul.cats li {
	border-top: 1px solid #ccc;
}
ul.cats li a {
	display: block;
	padding: 3px 0;
}
.subnav .all {
	text-align: right;
	font-size: 12px;
	margin-bottom: -15px;
	padding-top: 5px;
	margin-bottom: -10px;
	width: 100%;
}

/** menu_2 **/

li.menu_2 > ul > li {
	float: left;
	display: inline-block;
	list-style-type: none outside none;
	height: auto;	
	width: 270px;
	padding: 7px;
	margin-left: 10px;
}

li.menu_2 li div {
	padding: 3px 7px 7px;
}
li.menu_2 > ul > li.col1 {
	width: 175px;
	margin: 0;
}
li.menu_2 .col2 {
	width: 280px;
	padding-left: 5px !important;
}
li.menu_2 .col2 .forum {
	font-size: 40px;
}
li.menu_2 > ul > li.col3 a {
	display: inline;
	float: none;
	margin: 0;
}
li.menu_2 .col3 {
	width: 285px;
	float: right;
	padding-left: 4px !important;
}
li.menu_2 .col3 a {
	display: inline-block;
	margin: 5px;
}
li.menu_2 .col4 {
	width: 115px;
	float: right;
	padding-left: 3px;
}
a.more {
	display: inline-block;
	font-size: 12px;
}


/** Menu_4 **/

li.menu_4 > ul > li {
	float: left;
	display: inline-block;
	list-style-type: none outside none;
	height: auto;	
	width: 270px;
	margin-left: 5px;
}
li.menu_4 li div {
	padding: 3px 7px 7px;
}
li.menu_4 > ul > li.col1 {
	width: 170px;
	margin: 0;
}
li.menu_4 .col2 {
	width: 390px;
}
li.menu_4 .col3 {
	width: 189px;
	float: right;
}

/** Nav typography **/

#head > nav > ul > li > ul > li p {
	padding: 0 5px 0 0;
}
#head > nav > ul > li > ul > li article > header > h4 {
	margin: 0;
	font-size: 15px;
}
#head > nav > ul > li > ul > li article > img {
	float: left;
	height: 100px;
	width: 200px;
	padding: 0 10px 0 0;
}
#head > nav > ul > li > ul > li article {
	font-size: 10.5px;
}

/** SUBNAV **/

#subnav { overflow: hidden; padding: 5px 0; border-top: 1px solid #ccc; }
#subnav .debates { float: left; font-weight: bold; }
#subnav ul { list-style: none outside none; padding: 0; margin: 0; width: 885px; float: right; }
#subnav ul li { margin: 0 5px 0 0; padding: 0 5px 0 0; border-right: 1px solid #ccc; float: left; }
#subnav li:last-child { border: none; }

/** END SUBNAV **/




/** Civil Action Control Center **/


#searchcontrol {
	float: left;
	width: 250px;
	height: 350px;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
		  o-box-shadow: 0 0 2px rgba(0,0,0,.1);
			box-shadow: 0 0 2px rgba(0,0,0,.1);
	padding: 10px;
}
#searchresults {
	float: left;
}
#searchresults .tile {
	display: block;
	float: left;
	width: 280px;
	height: 300px;
	margin: 0 0 20px 20px;
	border: solid 1px #D6D6D6;
	-webkit-box-shadow: 0 1px 2px #CCC;
	   -moz-box-shadow: 0 1px 2px #CCC;
		  o-box-shadow: 0 1px 2px #CCC;
			box-shadow: 0 1px 2px #CCC;
	border-radius: 2px!important;
	-webkit-transition: .3s ease-in-out;
	   -moz-transition: .3s ease-in-out;
		  o-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
	padding: 10px 10px 0 10px;
	overflow: hidden;
}
#searchresults .tile:hover {
	-webkit-box-shadow: 0 1px 7px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 1px 7px rgba(0,0,0,.2);
		  o-box-shadow: 0 1px 7px rgba(0,0,0,.2);
			box-shadow: 0 1px 7px rgba(0,0,0,.2);
}
div#searchresults .tile:nth-of-type(3n+1) {
	margin-left: 0;
}
#searchresults .tile .badge, .content-badge {
	background: #F9F9F9;
	border: 1px solid #666;
	-webkit-box-shadow: 0 0 1px #000;
	   -moz-box-shadow: 0 0 1px #000;
		  o-box-shadow: 0 0 1px #000;
			box-shadow: 0 0 1px #000;
	width: 95px;
	float: right;
	margin: 2px -37px 0 0;
	text-align: center;
  	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.scheduled {
	margin: 2px -37px -18px 0;
}

#searchresults .tile .badge span {
	padding:2px;
	font-size: 15px;
} 
#searchresults .imgbox {
	overflow: hidden;
	height: 125px;
	margin: -5px -10px 5px;
}
#searchresults img {
	width: 300px;
	height: auto;
	margin-top: -20px;
}
#searchresults header {
	
}
#searchresults article {
	margin: 5px 0;
}
#searchresults .placeholder {
	height:10px;
	width: auto;
}


/* Searchform */

#searchform {
	height: auto;
}
input {
	margin: 0;
	padding: 0;
}
#searchform input[type="text"] {
	text-align: right;
	color: #666;
	width: 160px;
}
#submitsearch {
	width: 22px;
	height: 23px;
}

#search-box {
	border: 1px solid #eee;
	border-radius: 2px;
	font-size: 14px;
	float: left;
	margin: 0 5px 0 0;
	padding: 2px;
	width: 220px;
	outline: none;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
		  o-box-shadow: 0 0 2px rgba(0,0,0,.1);
			box-shadow: 0 0 2px rgba(0,0,0,.1);
	-webkit-transition: .3s ease-in-out;
	   -moz-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
}

#search-box:hover {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
		  o-box-shadow: 0 0 5px rgba(0,0,0,.15);
			box-shadow: 0 0 5px rgba(0,0,0,.15);
}
#search-box:focus {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
		  o-box-shadow: 0 0 5px rgba(0,0,0,.15);
			box-shadow: 0 0 5px rgba(0,0,0,.15);
}

/** End Civil Action Control Center **/

/** HOME **/

.home img {
	border: 1px solid #EEF1F5;
}
#content {
	width: 627px;
	float: left;
	padding-right: 13px;
	border-right: 1px dotted #ccc;
}
#content .list {
	float: left;
	padding: 10px 0;
	width: 100%;
}
#content .list:last-child {
	padding-bottom: 0;
}

#content h2 {
	margin: 0;
	line-height: 1.1em;
}

.tile-depth-1 {
	width: 625px;
	float: left;
	margin-bottom: 10px;
	padding: 0 10px 0 0;
}
.tile-depth-1 > header {
	text-align: center;
}
.tile-depth-1 > header > .metacat {
	margin-top: -15px;
}
.tile-depth-1 > header span {
	font-size: 14px;
}


.tile-depth-2-v1 {
	width: 300px;
	float: left;
	margin: 5px;
}
.tile-depth-2-v1 img {
	height: 80px;
	width: 130px;
	float: left;
	margin-right: 8px;
}
.tile-depth-2-v1 h2 {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.tile-depth-2-v2 {
	width: 285px;
	float: left;
	margin: 5px;
}
div.tile-thumbs a:nth-of-type(2n+1) {
	margin-left: 0;
}
div.tile-thumbs a:nth-of-type(2n+0) {
	margin-right: 0;
}
.tile-thumbs {
	margin: 0 0 10px;
	border: none;
	margin-top: 0;
}




.tile-depth-2--3-column {
	width: 180px;
	float: left;
	margin: 15px;
}
/* div.tile-depth-1 a:nth-of-type(3n+1) {
	margin-left: 0;
}
div.tile-depth-1 a:nth-of-type(3n+3) {
	margin-right: 0;
} */

.tile-depth-2--3-column img {
	height: 90px;
	width: 180px;
}

.eatag2 { /* display tag2 box as in sidebar, with .h header */
	padding: 10px;
	width: 594px;
	border: 1px solid #eef1f5;
}
.eatag3 {
	margin-top: 10px;
	padding-top: 0;
}

article + article {
	margin-top: 20px;
}
article > * > time {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}
section.body {
	font-family: Georgia, Serif;
}


span.more-out {
	display: inline-block;
	margin: 0 0 0 5px;
}
span.more-exc {
	display: inline;
}
span.entry-tags {
	color: #666;
}
span.entry-autor {
	color: #666;
	font-size: 0.9em;
}
span.entry-autor > * {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	color: #555
}
span.entry-autor > a > span:hover {
	color: #000;
	-webkit-transition: color .3s ease-in-out;
	   -moz-transition: color .3s ease-in-out;
		transition: color .3s ease-in-out;
}
.entry-comments {
	color: #839B05;
}


.list-1 {
	padding-top: 0;
}
.list-1 div.list {
	border-bottom: 1px solid #EEF1F5;
	padding-bottom: 5px;
	min-height: 100px
}
.list-1 div.list:first-child {
	padding-top: 15px;
}
.list-1 div.list:last-child {
	border: none;
}
.list-1 div.list h2 {
	font-size: 1.7em;
}
.list-1 div.list h2, .list-1 div.list h3 {
	line-height: 1.1em;
	margin: 0;
	padding: 5px 0;
}
.list-1 .list header, .list-1 .list article, .list-1 .list footer {
	margin-left: 170px;
}
.list-1 .list img {
	float: left;
}
.list-1 .leftbox {
	float: left;
	width: 160px;
}

.home .list p {
	padding: 0;
}
.home .list article {
	padding: 5px 0;
}

.tag h3 {
	font-size: 1.6em;
	font-weight: normal;
	line-height: 1em;
}
.tag article.body {
	padding: 5px 0;
}
.tag article.body p {
	padding: 0;
}

.list-2 {
	padding-top: 0;
	padding-bottom: 10px;
	margin-top: 0;
	border-bottom: 2px solid #eee;
	margin-bottom: 15px;
}
.list-2 > .list {
	width: 226px!important;
	float: left;
	margin: 0 7.5px;
	padding: 0!important;
}
.list-2 > .list:first-child {
	margin-left: 0;
}
div.list-2 .list:nth-of-type(4n+0) {
	margin-right: 0;
}

.list-2 .img-wrap { width: 224px; height: 160px; overflow: hidden; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
.list-2 img { background: #fff; visibility: hidden; }
.list-2 a { display: block; }
.list-2 h2 { margin: 5px 0 10px !important; line-height: 1.2em; font-size: 16px; padding: 0 5px; }

.pagination {
	clear: both;
}


/** PLUGTICLES **/

.plugticle {
	font-family: Georgia, Serif;
}

.plugticle > header {
	border-top: 1px solid #bbb;
	margin: 0 0 20px;
	text-align: center;
}
.plugticle hgroup {
	margin: 10px 0;
}

.metacat {
	display: block;
	margin: -10px auto 0;
}
.metacat span {
	padding: 0 5px;
	background: white;
	display: inline-block;
}
.plugticle h1 {
	margin-bottom: 10px;
	font-family: Georgia, serif;
	font-size: 25px;
	font-weight: bold;
}
.plugticle h2.excerpt {
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 1.3;
	font-family: Arial;
}
.plugticle .meta, .profilepage .meta {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 5px 0;
}
.plugticle .meta + .meta, profilepage .meta + .meta {
	border-top: none;
}
.plugticle .spreadtheword {
	float: left;
	width: 80%;
}
.plugticle #socialshareprivacy {
	width: 500px;
	float: left;
	clear: both;
}

/** PLUGNIBBLES **/

.plugnibble figure {
	margin: 0 !important;
	width: auto!important;
	float: none!important;
}
.plugnibble figure img {
	width: auto!important;
	max-width: 100%!important;
	display: block;
	margin: 5px auto 10px;
}
.plugnibble figure .license {
	margin-left: 10px;
} 

/* AddThis altering */
.plugticle .addthis {
	margin: 15px 10px 0;
	width: 360px;
	float: left;
}
.plugticle .addthis_button_pinterest_pinit {
	float: left;
	margin: 0 8px 0 14px;
}
.plugticle .addthis_button_facebook_send {
	margin: 28px 0 0 -64px;
}
.plugticle .addthis_button_facebook_like {
	margin: 0 8px 0;
}
.plugticle .addthis_button_linkedin_counter {
	margin: 55px 0 0 -69px;
	display: inline-block;
}
.plugticle .addthis_button_stumbleupon {
	margin: 25px 0 0 -20px;
}
.plugticle .addthis_button_vk {
	margin: 50px 0 0 -20px;
}
.plugticle .addthis_button_tweet, .plugticle .addthis_button_google_plusone {
	margin-right: 10px;
}
.plugticle .authorbox {
	border-top: #1px solid #eee;
	margin: 0 20px 20px;
	color: #555;
	text-align: center;
	font-size: 12px;
}
.plugticle .printemail {
	float: right;
}
.nibble .addthis {
	border-top: 1px solid #ccc;
	margin: 10px 0 0;
	padding: 10px 0 0;
}
.at16t_email {
	visibility: hidden;
	display: none;
}
.plugticle .addthis_button_email {
	padding: 0!important;
	float: none!important;
}
/* end AddThis */

.plugticle .article-autor {
	text-transform: uppercase;
}
.plugticle .body {
	margin: 10px 0 0;
}
.plugticle figure {
	margin: 1em 25px 5px 0;
	font-family: Arial;
	width: 200px;
	float: left;
}
.plugticle .license, .debate-single .license {
	float: right;
	font-size: 11px;
	color: #bbb;
}
.plugticle figure img {
	width: 100%;
}
.plugticle figure figcaption {
	font-size: 12px;
	margin-top: 5px;
}

.plugticle > footer {
	margin: 10px 0;
}
.article-sidebar .authorbox {
	/* min-height: 100px; */
}
.article-sidebar .authorbox img {
	width: 100px;
	float: right;
	margin: 0 0 5px 10px;
}
.article-sidebar .authorbox h3 {
	font-size: 14px;
	font-weight: normal;
}
.article-sidebar .authorbox p {
	margin-bottom: 0;
}

/** END PLUGTICLES **/




/*********************
 **	  PROFILEPAGES	**
 *********************/

.profile {
	border-top: 3px solid #4D666D;
	padding-top: 10px;
	margin: 0 -20px 0;
}

#profile {
	width: 679px;
	float: left;
	padding: 10px 20px 0 0;
	font-family: Georgia;
}

#profile .primary {
	margin-bottom: 20px;
}
#profile > .primary > .right-col {
	width: 140px;
	float: left;
	margin: 0 20px 0 0;
}
#profile > .primary > .right-col > img {
	width: 140px;
	margin-bottom: 10px;
}
#profile .card {
	width: 500px;
	padding-bottom: 20px;
	margin: 0 0 10px;
	float: left;
	font-size: 15px;
	color: #000;
	padding-top: 0;
	margin-top: -4px;
}
#profile h1 {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: normal;
}
#profile aside {
	margin: 0;
	border: 1px solid #EEF1F5;
}
#profile .info {
	background: #FAFBFC;
	width: 118px;
	float: right;
	margin: 0;
	border: 1px solid #EEF1F5;
	border-radius: 2px;
	padding: 10px;
}
#profile .h {
	margin: -1px -1px 0;
}
.profile-edit {
	font-size: 14px;
	margin: 20px 0 0;
}



#profile .secondary {
	clear: both;
}
#profile .list {
	padding: 10px;
}
#profile .list h3 a {
	font-size: 22px;
	font-weight: normal;
	color: #000;
}
#profile .list article p {
	color: #333;
	font-size: 13px;
	padding-top: 0;
}

#profile-sidebar {
	width: 250px;
	float: right;
	margin: 45px 0 0 -1px;
	padding-bottom: 10px;
}
#profile-sidebar section {
	background: #FAFBFC;
	width: 230px;
	float: right;
	margin: 10px 0 0;
	border: 1px solid #EEF1F5;
	border-radius: 2px;
	padding: 10px;
}

#profile-sidebar ul {
	list-style: none outside none;
	padding: 0;
}
#profile-sidebar .meta > span {
	display: block;
	font: 400 13px Arial;
	margin: 5px 0;
}
#profile-sidebar .meta .label {
	display: inline-block;
	margin-right: 4px;
}
#profile-sidebar {
	font-size: 0.95em;
	line-height: 1.4em;
}

/* END PROFILEPAGES */

/* /PROFILES */

#profiles {
	
}

#profiles .list .item {
	float: left;
	height: 200px;
	width: 100px;
	margin: 0 21px 12px 0;
}
div#profiles .item:nth-of-type(8n+0) {
	margin-right: 0;
}

#profiles h3 {
	font-size: 14px;
	line-height: 15px;
	margin-top: 3px;
}
.breadcrumb {
	display: block;
	width: 927px;
	width: 100%;
	margin: -15px 0 5px;
	padding: 0;
}
.breadcrumb .first {
	font-size: 16px;
	padding-left: 10px;
}
.breadcrumb .first a {
	color: #333!important;
}
.breadcrumb > a {
	color: #555!important;
	margin-left: 5px;
}
.breadcrumb .selected {
	font-weight: bold;
}
.breadcrumb .brief-title {
	max-width: 450px;
}
.breadcrumb .pager {
	float: right;
	padding-right: 10px;
	margin-top: 3px;
}

/* end /profiles */


/* DEBATES	*/

.debate-single .primary {
	float: left;
	width: 350px;
}
.debate-single .primary figure {
	margin-bottom: 20px;
}
.debate-single .primary .license {
	margin-top: 5px;
}
.debate-single .primary img {
	width: 350px;
}
.debate-single .primary h1 {
	margin-bottom: 10px;
}
.debate-single .primary p {
	font-family: Georgia;
	color: #111;
	font-size: 14px;
}
.debate-single .secondary {
	float: right;
	width: 580px;
}
/* makeshift */
.debate-single .secondary .tile-depth-1 {
	width: 580px;
	float: right;
	border: 1px solid #EEF1F5;
}
.debate-single .secondary .list {
	padding: 15px;
}
.debate-single .share {
	margin-top: 20px;
	padding-top: 10px;
}


.debate-single h2 {
	font-size: 1.6em;
	font-weight: normal;
	line-height: 1em;
	padding: 0;
	margin: 0;
}
.debate-single article.body {
	padding: 5px 0;
}
.debate-single article.body p {
	padding: 0;
}


.debate-single .share .h {
	color: #000;
	font-family: Helvetica, serif;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	border-top: 3px solid #333;
	border-bottom: 1px solid #EEF1F5;
	margin: 0 0 10px 0;
	padding: 1px 2px;
	background:#ffffff;
	width: 95%;
}
.debate-single .share .h {
	padding: 0 5px;
	display: inline-block;
}


/* END DEBATES */


/*** VIDEOS ***/

.video-item		{ padding-bottom: 20px; width: 627px; float: left; }
.video-item img	{ box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); float: left; margin-right: 20px; }
.video-item h2	{ color: #333; font-size: 26px; line-height: 26px; }


/*** END VIDEOS ***/

/*** Begin Nibbles ***/

ul.nibble-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.nibble {
	overflow: hidden;
	margin-bottom: 15px;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
		  o-box-shadow: 0 0 4px rgba(0,0,0,.3);
			box-shadow: 0 0 4px rgba(0,0,0,.3);
}
.nibble article {
	width: 400px;
	float: left;
}
.nibble img.img {
	width: 400px;
	height: auto;
	border: none;
}
.nibble aside {
	display: block;
	width: 200px;
	float: left;
	border: none;
	padding: 10px;
	margin: 0;
}
.nibble span.timestamp {
	padding: 0 0 10px;
	margin: 5px 0 10px;
}
.nibble .addthis {
	margin: 10px 0;
}


/*** End Nibbles ***/

.viral .h {
	margin-bottom: 5px;
}
.addthis-content-row {
	padding: .5em 1em !important;
	margin: 0!important;
}
.addthis-content-row:nth-of-type(2n+0) {
	background-color: #eee;
}
.addthis-content-footer {
	display: none;
}

#sidebar .meta > span {
	display: block;
	font: 400 13px Arial;
	margin: 5px 0;
}
#sidebar .meta .label {
	display: inline-block;
	margin-right: 4px;
}

aside {
	margin: 20px 0;
	border-bottom: 1px solid #bbb;
}
aside > div.meta {
	background: #FAFBFC;
	border-top: 1px solid #EEF1F5;
	padding: 5px 0;
	margin: 10px 10px 0;
}
aside.disqus h3 {
	font-size: 13px;
}

aside:last-child {
	margin-bottom: 5px;
}


/* END ARTICLES SINGLE */

article > footer nav {
	margin: 0 0 20px;
}

.reply {
	background: url("/user/themes/minimalistic/img/wbg-s.png") no-repeat scroll center top transparent;
	margin-top: 30px;
	padding-top: 10px;
}
.responses {
	background: url("/user/themes/minimalistic/img/wbg-s.png") no-repeat scroll center top transparent;
	margin-top: 25px;
	padding-top: 10px;
}
.comment {
	border: 1px solid #eee;
	padding: 10px 10px 5px;
}
.comment + .comment {
	margin-top: 10px;
}
.comment-meta {
	display: block;
	border: 1px solid #e7e7e7;
	margin: 0 0 5px;
	padding: 5px;
	color: #999;
	line-height: 1em;
}
.comment-autor {
	display: block;
	font-size: 1.2em;
	line-height: 1em;
}
.comment-time {
	display:block;
	font-size: 10px;
}

#comment-public > div {
	display: inline-block;
	padding: 0 0 10px;
	width: 98%;
	clear: both;
}
#comment-public > div > input {
	float: left;
	width: 170px;
	margin: 0 8px 5px 0;
	padding: 2px;
}
#comment-public > div > label {
	display: inline-block;
	font-size: 0.9em;
	line-height: 2.1em;
	color: #777;
}
#comment-public > #cf_content > label {
	display: none;
}
#comment-public > div > textarea {
	width: 100%;
	padding: 2px;
}
#comment-public > #cf_submit > input {
	float: right;
	margin: 5px -7px 0 0;
}

.nomatch {
	margin: 0;
	padding: 0;
	text-align: center;
}

#sidebar {
	width: 295px;
	float: right;
	margin: 0 0 0 -1px;
	padding: 0 0 0 14px;
	border-left: 1px dotted #ccc;
}
#sidebar section {
	background: #FAFBFC;
	margin: 0 0 20px;
	/* border: 1px solid #EEF1F5; */
	border-radius: 2px;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
		  o-box-shadow: 0 0 5px rgba(0,0,0,.2);
			box-shadow: 0 0 5px rgba(0,0,0,.2);
}
#sidebar section:first-child {
	margin-top: 0;
}

#sidebar ul {
	list-style: none outside none;
	padding: 0;
	margin-bottom: 0;
}
#sidebar ul li.all {
	margin-bottom: -15px;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: right;
	border-top: 1px solid #EEF1F5;
}
.h {
	color: #000;
	font-family: Helvetica, serif;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
	border-top: 3px solid rgba(30,144,255,.7);
	border-bottom: 1px solid #EEF1F5;
	margin: -11px -10px 10px -10px;
	padding: 1px 2px;
	background:#ffffff;
}
.h > span {
	padding: 5px;
	display: inline-block;
}
#sidebar h3 {
	width: auto;
}
#sidebar h4 {
	line-height: 17px;
	font-size: 14px;
	font-style: normal;
}

.contactus #senderName, .contactus #senderEmail, .contactus textarea {
	border: 1px solid #EEF1F5;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
		  o-box-shadow: 0 0 2px rgba(0,0,0,.1);
			box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin-bottom: 10px;
	padding: 3px;
	font-size: 12px;
	width: 265px;
}
.contactus #senderName, .contactus #senderEmail {
	height: 20px;
}
.contactus textarea {
	height: 80px;
}
.contactus .container span {
	display: block;
	margin-bottom: 10px;
}


/* briefs section */
.inbrief ul li {
	border-top: 1px solid #EEF1F5;
	margin: -13px -10px 0;
	padding: 10px 10px 16px;}

/* pool of contributors, sidebar front */
.pool img {
	width: 95px;
	float: right;
	border: 1px solid #EEF1F5;
	margin: 0 0 0 5px;
	word-wrap: break-word;
}
.pool h3 {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: normal;
}
.pool ul li {
	border-top: 1px solid #EEF1F5;
	margin: -13px -10px 10px;
	padding: 10px 10px 13px;
}
.pool ul li:last-child {
	margin-bottom: -2px;
	padding-bottom: 0;
}
.profileteaser {
	min-height: 78px;
}
.profileteaser p {
	color: #777;
	line-height: 18px;
	padding: 0;
}
.brief {
	overflow: hidden;
}
.brief h3 {
	margin: 5px 0;
}

/* trending box, sidebar front */
.trending ul li {
	border-top: 1px solid #EEF1F5;
	margin: 0 -10px 0;
	padding: 10px 10px;
}
.trending ul li:first-child {
	margin-top: -13px;
}
.trending ul li:last-child {
	margin-bottom: -25px;
}
.trending img {
	height: 70px;
	width: 105px;
	border: 1px solid #EEF1F5;
	float: left;
	margin: 0 10px 0 0;
}
.trending .first {
	height: 85px;
}
.trending .first time {
	color: #777;
	display: inline-block;
	margin: 5px 0 0;
}
.trending p {
	padding: 0;
}
.trending h3 {
	font-size: 14px;
	margin-bottom: 3px;
}

/* recent initiatives, sidebar front */

#sidebar section.viral {
	padding: 10px 0 0;
}
#sidebar section.viral .h {
	margin-right: 0;
	margin-left: 0;
}

.recentposts > ul > li {
	margin: 0 -10px;
	padding: 0 10px;
}

/* FOOTER */
.sabout {
	display: none;
}
.recentposts > ul > li {
	margin-bottom: 8px;
}
.fb > a.atom {
	display: inline-block;
	margin: 0 0 0 10px;
}
.fb-like-box {
	margin: 0 -11px 10px -11px;
}
.fb-like-box ._4s7c {
	border-right: none!important;
	border-left: none!important;
}
.g-plus-box {
	margin: 7px -11px -20px -11px;
}


#footwrap {
	display: block;
	width: 100%;
	min-height: 90px;
	border-top: 1px solid #EEF1F5;
	border-radius: 2px;
	-webkit-box-shadow: 0 -1px 5px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 -1px 5px rgba(0,0,0,.1);
		  o-box-shadow: 0 -1px 5px rgba(0,0,0,.1);
			box-shadow: 0 -1px 5px rgba(0,0,0,.1);
	background: rgba(255,255,255,.15);
	text-shadow: 0 0 5px rgba(255,255,255,1);
	
	}
#footer {
	margin: 0 auto;
	padding-top: 20px; 
	width: 960px;
}
.footerclear {
	margin: 100px;
}
.backtotop {
	float: right;
	color: #444;
	font-size: 12px;
	line-height: 1.5em;
	text-transform: uppercase;
	text-align: right;
	height: 40px;
	margin: 10px 10px 0;
}
.backtotop a {
	padding: 3px;
}
.backtotop img {
	margin: 0 3px -2px;
}
#up img {
	margin: 0 0 -5px;
}

#footer > .element {
	float: left;
	height: 300px;
	width: 253px;
	padding: 15px 20px;
	border-right: 1px solid #ccc;
}
#footer > .partners { width: 546px; padding-right: 0; }
#footer > .element:last-child {
	border-right: none;
}
#footer > .element h3 {
	font-family: Helvetica;
}
#footer > .element p {
	margin-bottom: 10px;
	font-family: Helvetica;
}


.partners img	{ display: inline-block; margin: 5px 20px 5px 0;  }

#footer .license img {
	height: 110px;
	width: 230px;
	margin-top: 10px;
}
#footer nav {
	margin-top: 30px;
}
#footer nav div {
	text-transform: none;
	margin-top: 5px;
}
#footer #senderName, #footer #senderEmail {
	width: 250px;
	height: 25px;
}
#footer #senderName, #footer #senderEmail, #footer textarea {
	border: 1px solid #EEF1F5;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
		  o-box-shadow: 0 0 2px rgba(0,0,0,.1);
			box-shadow: 0 0 2px rgba(0,0,0,.1);
	margin-bottom: 10px;
	padding: 3px;
	font-size: 12px;
	width: 246px;
}
#footer textarea {
	height: 100px;
}
#footer #contactForm span {
	display: block;
	margin-bottom: 5px;
} 
/*** Dimensions and position of the status messages ***/

.statusMessage {
	position: absolute;
	display: none;
	margin: auto;
	width: 100%;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 6;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	text-shadow: 0 0 5px rgba(0,0,0,.7);
}
.statusMessage p {
	text-align: center;
	font-weight: 600;
	margin: 0;
	padding: 0;
	color: #fff;
}
#sendingMessage {
	background: #FFF23A;
	color: #ccc;
}	
#successMessage {
	background: #34CC1F;
}	
#successMessage p {
	color: #fff;
	text-shadow: 0 0 4px rgba(0,0,0,1);
}
#failureMessage {
	background: #B12121;
}	
#incompleteMessage {
	background: #B12121;
}

/* END FOOTER */

/** further reading, article.single **/

.article-single aside {
	padding-bottom: 10px;
	border: 1px solid #EEF1F5;
	border-radius: 2px;
	padding: 10px;
}
.article-single .scheduled {
	margin: 0;
}

ul.similar-posts {
	padding: 0;
	list-style: none outside none;
}
.similar-posts li {
	min-height: 100px;
	padding: 0;
	margin: 0 10px 10px;
	border-bottom: 1px solid #EEF1F5;
	padding-bottom: 10px;
}
.similar-posts li:first-child {
	margin-top: 10px;
}
.similar-posts li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: -10px;
}
.similar-posts h3, .similar-posts p {
	margin: 0;
	padding: 0;
}
.similar-posts img {
	float: left;
	margin: 0 15px 0 0;
}
aside.disqus h3.norm {
	font-size: 20px;
}
aside.disqus h3, .similar-posts h3 {
	margin-top: -2px;
}



.clear {
	clear: both;
}
.block {
	display: block;
}
.right {
	float: right!important;
}
.left {
	float: left!important;
}
.admininfo {
	margin-left: 10px !important;
}
.nombottom {
	margin-bottom: 0;
}
.nopbottom {
	padding-bottom: 0;
}

.hl1 {
	margin-bottom: 20px;
}

/* END STRUCTURE */

.featured-content {
	width: 948px;
	margin: 0 auto 15px;
	clear: both;
	padding: 0 0 15px;
	border-bottom: 1px solid #EEF1F5;
}
.featured-content > .h {
	margin: -1px -1px 0;
	border-top: none;
}
.featured-content > .h > .inits {
	display: inline-block;
	float: right;
	width: 303px;
	border-left: 1px solid #eef1f5;
	padding-left: 10px;
	line-height: 16px;
	margin: 2px 0;
}

/* Featured-Slider */

.featured-content-slider {
	padding: 0;
	float: left;
	clear: both;
	width: 630px;
	margin-left: -1px;
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 0px 5px rgba(0,0,0,.15);
		  o-box-shadow: 0 0px 5px rgba(0,0,0,.15);
			box-shadow: 0 0px 5px rgba(0,0,0,.15);
}

#featured {  
	width: 430px;  
	margin: -3px 0;
	padding-right: 200px;  
	position: relative;  
	height: 250px;  
	background: #fff;  
}
#featured ul.ui-tabs-nav {  
	position: absolute;
	top: 1px;
	left: 430px;  
	list-style: none;  
	padding: 0;
	margin: 0;  
	width: 200px;  
}  
#featured ul.ui-tabs-nav li {  
    padding: 1px 0;  
}  
#featured ul.ui-tabs-nav li p {
	padding: 1px;
	color: #222;
	font-size: 12px; 
	font-family: Arial;  
	line-height: 17px;
	text-shadow: 0 0 5px rgba(255,255,255,1);
}
#featured ul.ui-tabs-nav img {
	height: 50px;
	width: 82px;
}
#featured .ui-tabs-panel {  
	padding: 0;
	margin: 0;
	width: 430px;
	height: 250px;  
	position: relative;  
	overflow: hidden;  
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
		  o-box-shadow: 0 0 5px rgba(0,0,0,.1);
			box-shadow: 0 0 5px rgba(0,0,0,.1);
}  
#featured .ui-tabs-hide {  
    display:none;  
}
#featured li.ui-tabs-nav-item a{ 
	display: block;  
	height: 50px;  
	color: #333;
	background: #EEF1F5;  
	outline: none;  
	padding: 5px 4px;
	overflow-y: hidden;
	cursor: default;
}  
#featured li.ui-tabs-nav-item a:hover{  
    background:#9da6ad;  
}  
/* #featured li.ui-tabs-selected{
    background:url('images/selected-item.gif') top left no-repeat;  
}  */
#featured ul.ui-tabs-nav li.ui-tabs-selected a {  
    background: #5d666d;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a p {
	color: white;
	text-shadow: 0 0 5px rgba(255,255,255,.3);
}
#featured ul.ui-tabs-nav li img{  
	float: left;
	margin: 0 5px 0 0;  
	background: #fff;  
	padding: 0;  
}
#featured .ui-tabs-panel img {
	width: 450px;
	margin-left: -10px;
}
#featured .ui-tabs-panel .info { 
	background: #000;
	opacity: 0.7; 
	position: absolute;  
	top: 200px; 
	left: 0;  
	height: 50px; 
	width: 410px; 
	padding: 10px; 
}  
.info {
	color: #f0f0f0;
	font-family: Arial;
	font-size: 12px;  
	line-height: 16px;
	margin: 0;
	padding: 0;
	
}

/* End Featured-Slider */

/* Featured Boxes */

.featured-content-boxes {
	background: #FAFBFC;
	float: right;
	height: 244px;
	width: 305px;
	-webkit-box-shadow: 0 0px 5px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 0px 5px rgba(0,0,0,.15);
		  o-box-shadow: 0 0px 5px rgba(0,0,0,.15);
			box-shadow: 0 0px 5px rgba(0,0,0,.15);
	margin: 0 0 0 10px;	
}
.featured-content-boxes .box {
	max-height: 120px;
	width: 270px;
	margin: 10px 10px 10px 5px;
	padding: 5px;
}
.featured-content-boxes .box h4{
	line-height: 17px;
	font-size: 14px;
	font-style: normal;
	margin: -3px 0 3px;
}
.featured-content-boxes .box .excerpt {
	color: #555;
}
.box .excerpt > * {
	margin: 0;
	padding: 0;
}
.featured-content-boxes .title {
	display: inline-block;
	color: #111;
	padding: 5px 10px;
	background: #ccc;
	font-size: 14px;
	width: 280px;
	margin: 0;
}
.featured-content-boxes .boxtitle {
	display: inline-block;
	color: #111;
	padding: 0 0 2px 0;
	font-size: 16px;
	width: 280px;
	margin: 0;
	border-bottom: 1px solid #999;
}

.welcome	{ width: 295px; height: 229px; overflow: hidden; margin-bottom: 20px; }
.welcome a	{ width: 100%; height: 100%; display: block; background: url('../img/static/welcome-bg.jpg') no-repeat; }

.video-block		{ width: 305px; height: 247px; background: #eee; }
.video-block p		{ padding: 3px 5px; line-height: 1.4; font-family: Georgia; font-size: 14px; }
.video-block a.all	{ display: block; float: right; margin-right: 5px; }

.vote2014-banner { width: 296px; height: 119px; display: block; background: url('../img/ep-vote-2014-bg.png') no-repeat; }

/* End Featured Boxes */

/* 404 */

.centered {
	min-width: 80%;
	min-height: 80%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}

/* END 404 */

/* PAGES */

.submenu {
	margin: -20px 0 10px;
}

.submenu ul {
	list-style: none outside none;
	width: 950px;
	border-bottom: 1px solid #ddd;
	height: 30px;
	padding: 0;
}
.submenu ul li {
	float: left;
	height: 32px;
	padding: 0;
}
.submenu ul li a {
	display: block;
	padding: 6px 20px 6px 0;
	margin: 0 0 0 10px;
}
.submenu .first {
	display: block;
	float: left;
	margin: 0 10px;
	font-size: 16px;
	line-height: 32px;
}
.submenu .selected {
	font-weight: bold;
}


.page {
	padding-top: 10px;
}
.page h2 {
	margin: 20px 0 0;
}
.page a {
	text-decoration: underline;
}

#about-page {
	font-size: 14px;
}

#about-page .about {
	min-height: 200px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ddd;
}
#about-page .about div.content {
	width: 450px;
	float: left;
}
#about-page .sharing {
	float: right;
	margin: 10px 10px;
	height: 200px;
}
#about-page .fb-like-box {
	display: block;
}
#about-page .fb-like-box .fbConnectWidgetTopmost {
	border: 1px solid #ccc;
}
#about-page ul {
	display: block;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	      o-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	        box-shadow: 0 2px 5px rgba(0,0,0, .2);
	padding: 10px;
	min-width: 0px;
}
#about-page ul {
	list-style: none outside none;
	margin-top: 20px;
}
#about-page ul.contribute li {
	margin: 10px 0;
}
#about-page .left, #about-page .middle, #about-page .right {
	min-height: 150px;
	width: 283px;
	float: left;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 0 15px;
}
#about-page .left {
	padding-left: 0;
}
#about-page .right {
	padding-right: 0;
	width: 302px;
}
#about-page h1 {
	text-decoration: underline;
	color: #222;
}
#about-page h2 {
	margin: 0;
}
#about-page p {
	padding-bottom: 0;
}
#about-page .bar {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
}
#about-page .left {
	border-left: none;
}
#about-page ul li.middle {
	margin-right: -1px;
	margin-left: -1px;
}
#about-page .right {
	border-right: none;
}
#about-page .licensing, #about-page .donate {
	margin: 10px 20px 0;
}
#about-page .licensing {
	min-height: 150px;
	width: 310px;
	float: left;
	margin-left: 0;
}
#about-page .donate {
	min-height: 150px;
	width: 580px;
	float: left;
	padding: 10px;
	margin-right: 0;
	margin-left: -1px;
}
#about-page .paypal {
	max-width: 200px;
	float: left;
	margin: 20px;
}
#about-page .flattr {
	margin: 25px;
}
#about-page .flattr img {
	display: inline-block;
	margin-bottom: -5px;
}
/* END ABOUT */

/* PATRON */

.become-a-patron img {
	margin: 20px;
}

/* END PATRON */


/* IMPRINT */

#imprint h1 {
	margin-bottom: 20px;
}

/* END IMPRINT */

/* CONTACT */

#contact-email {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	padding: 20px;
	width: 600px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	      o-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	        box-shadow: 0 2px 5px rgba(0,0,0, .2);
}                         
#contact-office {         
	display: block;       
	float: left;          
	margin: 0 0 20px 0;   
	padding: 20px;        
	width: 250px;         
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	   -moz-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	      o-box-shadow: 0 2px 5px rgba(0,0,0, .2);
	        box-shadow: 0 2px 5px rgba(0,0,0, .2);
}

/* END CONTACT */








.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/* jquery.lazyload.js */

.lazy {
	dispay: none;
}

/* end jquery.lazyload.js */





/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* MAILCHIMP SIGNUP FORM STYLES */

#mc_embed_signup {
	background: #fff; 
	font: 14px Helvetica, Arial, sans-serif; 
	width: 245px;
	float: right;
}
/**/#mc_embed_signup form{display:block;position:relative;text-align:left;padding:10px 0 10px 3%}
#mc_embed_signup h2{font-weight:bold;padding:0;margin:15px 0;font-size:1.4em;}
#mc_embed_signup input{border:1px solid #999;-webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus{border-color:#333;}
#mc_embed_signup .button{clear:both;background-color:#aaa;border:0 none;border-radius:4px;color:#FFFFFF;cursor:pointer;display:inline-block;font-size:15px;font-weight:bold;height:32px;line-height:32px;margin:0 5px 10px 0;padding:0;text-align:center;text-decoration:none;vertical-align:top;white-space:nowrap;width:auto;}
#mc_embed_signup .button:hover{background-color:#777;}
#mc_embed_signup .small-meta{font-size:11px;}
#mc_embed_signup .nowrap{white-space:nowrap;}
#mc_embed_signup .clear{clear:none;display:inline;}
#mc_embed_signup label{display:block;font-size:16px;padding-bottom:10px;font-weight:bold;}
#mc_embed_signup input.email{display:block;padding:8px 0;margin:0 2% 10px 0;text-indent:5px;width:66%;min-width:130px;float:left;}
#mc_embed_signup input.button{display:inline-block;width:25%;margin:0 0 10px 0;min-width:60px;}
#mc_embed_signup div#mce-responses{float:left;top:-1.4em;padding:0em .5em 0em .5em;overflow:hidden;width:90%;margin:0 5%;clear:both;}
#mc_embed_signup div.response{margin:1em 0;padding:1em .5em .5em 0;font-weight:bold;float:left;top:-1.5em;z-index:1;width:80%;}
#mc_embed_signup #mce-error-response{display:none;}
#mc_embed_signup #mce-success-response{color:#529214;display:none;}
#mc_embed_signup label.error{display:block;float:none;width:auto;margin-left:1.05em;text-align:left;padding:.5em 0;}

.newsletter-sidebar {
	width: 280px!important;
}

/* END MAILCHIMP */ 

/* DEBATING EUROPE MODEL EP VOTE 2014 */


.sidebar-dummy {
	margin: 0 0 20px;
}

.devote2013-widget {
	background-image:url("../img/sidebar_vote2014.png");
	background-repeat: no-repeat;
	background-align: center;
	width: 132px;
	margin: 0 auto;
}

a.bluebuttoncss {
	text-decoration: none;
	color: white;
	font-family: Verdana, Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: #30A8DB;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(.45, #30A8DB), color-stop(1, #1985B3));
	background: linear-gradient(#30A8DB 45%, #1985B3);
		background: -moz-linear-gradient(#30A8DB 45%, #1985B3);
		background: -o-linear-gradient(#30A8DB 45%, #1985B3);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(.45, #30A8DB), color-stop(1, #1985B3));
	border-style: solid;
	border-width: 1px;
	border-color: #1985B3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
		-moz-border-radius-topleft: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-bottomleft: 4px;
		-moz-border-radius-bottomright: 4px;
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		text-shadow: -1px -1px 0px #2188B5;
	box-shadow: 0px 0px 2px #1985b3;
}

a.bluebuttoncss:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #1985b3;
	background: linear-gradient(#1985b3 45%, #30a8db);
		background: -moz-linear-gradient(#1985b3 45%, #30a8db);
		background: -o-linear-gradient(#1985b3 45%, #30a8db);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(.45, #1985b3), color-stop(1, #30a8db));
	border-color: #1985b3; text-shadow: -1px -1px 0px #2188b5;
	box-shadow: 0px 0px 2px #1985b3;
}

a.bluebuttoncss:visited {
	text-decoration: none;
	color: #ffffff;
} 

/* END DEBATING EUROPE MODEL EP VOTE 2014 */
